* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(red, green, yellow, blue);
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 1 ease;
    box-shadow: 0 0 150px blue;
}
header{
    animation: r 1s infinite;
}
@keyframes r{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
header .brand {
    color:black;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 10px rgb(0, 219, 15);
    transition: 1.7s ease;
}

header .brand:hover {
    color: crimson;
    text-shadow: 0 0 10px rgb(255, 0, 123);
}

header .navigation {
    position: relative;
}

header .navigation a {
    font-size: 17px;
    font-weight: 500px;
    text-decoration: none;
    margin-left: 30px;
    transition: .5s ease;
    color: black;
}

header .navigation a:hover {
    color: crimson;
}

.menu-btn {
    display: none;
}

.menu-btn2 {
    display: none;
}

@media (max-width: 1049px) {
    header {
        padding: 12px 20px;
    }

    header .navigation {
        display: none;
    }

    .menu-btn {
        display: block;
        position: absolute;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        font-size: 27px;
        color: black;
    }

    .menu-btn.active {
        display: none;
        z-index: 999;
        background-size: 25px;
        background-position: center;
        transition: all 1s ease;
        filter: invert(1);
    }

    .menu-btn2 {
        display: block;
        position: absolute;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 10px;
        margin: 0 20px;
        cursor: pointer;
        font-size: 27px;
        top: 20px;
        color: white;
        font-size: 40px;
    }

    .menu-btn2.active {
        display: block;
        z-index: 999;
        background-size: 25px;
        background-position: center;
        transition: .4s ease;
        filter: invert(1);
    }

    header .navigation.active {
        position: absolute;
        z-index: 888;
        background-color: rgba(0, 0, 0, 0.648);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        top: 0;
        right: 0;
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 3px 3px 3px blue;
    }

    header .navigation.active:hover {
        width: 100%;
    }

    header .navigation a {
        background-color: transparent;
        border: 3px solid;
        border-radius: 100px;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
        padding: 10px;
        position: relative;
        text-decoration: none;
        transition: all 1s ease;
        width: 180px;
        height: 55px;
        z-index: 10;
        text-align: center;

    }

    header .navigation a {
        color: rgb(8, 255, 8);
        box-shadow: 0 0 10px red;
    }

    header .navigation a::before {
        background-color: #ff1616;
    }

    header .navigation a:hover {
        color: white;
        border: none;
        box-shadow: 0 0 30px red;
    }

    header .navigation a:hover::before {
        transform: scaleY(1);
    }

    header .navigation a::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleY(0);
        transition: all .3s ease;
        width: 100%;
        z-index: -1;
        border-radius: 100px;
    }

    section {
        padding: 80px 20px;
    }

    .main .content h2 {
        font-size: 25px;
    }

    .main .content h3 {
        font-size: 35px;
    }

    .section-title {
        font-size: 38px;
    }

    .skills {
        margin: 0;
        padding: 0;
    }

    .skills .content {
        flex-direction: column;
    }

    .skills .content .column {
        position: relative;
        width: 100%;
    }

    .skills p {
        margin-left: 10px;
    }

    .about {
        margin: 0;
        padding: 0;
    }

    .about .content2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .rasm img {
        display: none;
    }

    .services {
        margin: 0;
        padding: 0;

    }

    .services .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work {
        margin: 0;
        padding: 0;
    }

    .contact {
        margin: 0;
        padding: 0;
    }
    .border{
        display: none;
    }
    .border2{
        display: none;
    }
    .border3{
        display: none;
    }

    .work .light{
        display: none;
    }
    .work .light2{
        display: none;
    }
    .work .light3{
        display: none;
    }
    .work .light1{
        display: none;
    }

}
section {
    padding: 100px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/portfolio.avif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.main .content h2 {
    color: green;
    font-size: 36px;
    font-weight: 500;
    transition: .7s ease;

}

.main .content h2:hover {
    color: rgb(23, 0, 128);
    font-size: 46px;
    font-weight: 500;

}

.main .content h2 span {
    font-size: 46px;
    font-weight: 400;
}

.animated-text {
    height: 80px;
    overflow: hidden;
    position: relative;

}

.animated-text h3 {
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    transition: .7s ease;
}

.animated-text h3:hover {
    color: blue;
    font-size: 62px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -80px;
    }

    50% {
        margin-top: -160px;
    }

    75% {
        margin-top: -70px;
    }

    0% {
        margin-top: 0;
    }
}

.btn {

    font-size: 17px;
    display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 30px;
    transition: .5s ease;

}


.media-icons a {
    color: red;
    font-size: 25px;
    margin-right: 30px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.section-title {
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: crimson;
    transform: translateX(-50%);
}

.section-title::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    transform: translateX(-50%);
    transition: 1s ease;
}

.section-title:hover::after {
    left: 90%;
}

.about {
    background: black;
    height: auto;
}
.about .content2 .border{
    width: 486px;
    height: 486px;
    flex-shrink: 0;
    border-radius: 486px;
    border: 65px solid rgb(0, 215, 0);
    box-shadow: 0px 4px 70px 0px rgb(6, 232, 6);
    position: absolute;
    left: 940px;
    bottom: 30px;
}

.about .content2 .border2{
    width: 686px;
    height: 686px;
    flex-shrink: 0;
    border-radius: 686px;
    border: 75px solid var(--text, #fff);
    box-shadow: 0px 4px 70px 0px #fff;
    position: absolute;
    top: 55px;
    left: -90px;
}
.about .content2 .border3{
    width: 486px;
    height: 486px;
    flex-shrink: 0;
    border-radius: 486px;
    border: 55px solid var(--text, #00C4F0);
    box-shadow: 0px 4px 70px 0px #00C4F0;
    position: absolute;
    left: 420px;
    bottom: 300px;
}
.about .content2 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(10, 9, 9);
    margin-top: 100px;
    padding: 10px;
}

img {
    border-radius: 10px;
}

.about .content2 .col-left {
    position: relative;
    width: 45px;
}

.column-col-straight-reveal {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.column-col-straight-reveal p {
    font-size: 20px;
    color: white;
}

.about .content2 .img-card {
    position: relative;
    width: 100%;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
}

.about .content2 .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 2s ease;
}

.about .content2 .img-card img:hover {
    transform: scale(1.2);
}

.about .content {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}
.about .content2 .content-title{
    color: white;
}
.skills {
    background: black;
}

.skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
}

.skills .col-left {
    position: relative;
    width: 45%;
    background: linear-gradient( red, green, yellow, blue);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.skills .col-left .content-title {
    margin-bottom: 20px;
}

.skills .col-right {
    position: relative;
    width: 45%;
    background: rgb(102, 100, 100);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.skills .col-left{
    animation: rot 1.5s infinite;
}
@keyframes rot{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.skills .col-right .bar {
    margin-bottom: 15px;
    padding: 5px;
}

.skills .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .info span {
    font-size: 18px;
    font-weight: 500;
}

.skills .line {
    position: relative;
    width: 100%;
    height: 10px;
    padding: 10px;
    background-color: rgba(243, 243, 243, 0.326);
    border-radius: 125px;
}

.skills .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 125px;
}

.skills .html::before {
    width: 0;
    background: rgb(5, 234, 5);
    transition: all 1s ease;
}

.skills .html:hover:before{
    width: 65%;
}
.skills .css::before {
    width: 0;
    background-color: greenyellow;
    transition: all 1s ease;
}
.skills .css:hover:before{
    width: 55%;
}
.skills .javascript::before {
    width: 0;
    background-color: yellow;
    transition: all 1s ease;
}
.skills .javascript:hover:before{
    width: 40%;
} 
.skills .react::before {
    width: 0;
    background-color: red;
    transition: all 1s ease;
}
.skills .react:hover:before{
    width: 25%;
} 
.services {
    background:  linear-gradient(black, red, yellow, green, blue, black);
}
.services{
    animation: rotate 1.5s infinite;
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;

}

.title p {
    width: 80%;
    font-size: 20px;
}

.services .content .card {
    background: #fff;
    width: 300px;
    margin: 10px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: 1s ease;
}

.services .content .card:hover {
    box-shadow: 25px 25px 25px rgba(13, 74, 205, 0.664);
    color: white;
    background-color: black;
    transform: translateY(-30px);
}

.services .card .service-icon {
    color: crimson;
    font-size: 120px;
    text-align: center;
    transition: 1s ease;
}

.services .card .service-icon:hover {
    transform: translateY(-30px);
}

.services .card .info {
    text-align: center;
}

.services .card .info h3 {
    color: crimson;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.work {
    background-color: black;
    position: relative;

}
.work .innnn{
    height: 750px;
    position: absolute;
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.work .light{
    background:  linear-gradient(black, red, yellow, green, blue, black);
    width: 50px;
}
.work .light1{
    background:  linear-gradient(black, red, yellow, green, blue, black);
    width: 29px;
}
.work .light2{
    background:  linear-gradient(black, red, yellow, green, blue, black);
    margin-left: -73px;
    width: 29px;
}
.work .light3{
    background:  linear-gradient(black, red, yellow, green, blue, black);
    width: 50px;
}
.work .innnn{
    animation: ro 1.5s infinite;
}
@keyframes ro{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.work .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

}

.work .content .card {
    width: 340px;
    margin: 15px;
}

.work .content .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.work .content .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 2s ease;
}

.work .content .card-img img:hover {
    transform: scale(1.3);
}

.contact {
    background-color: black;
}

.contact input {
    width: 280px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.contact .text {
    border-radius: 5px;
    padding: 5px;
}


.contact .content .card {
    background: #fff;
    width: 300px;
    margin: 10px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: 1s ease;


}

.contact .content .card:hover {
    background-color: black;
    box-shadow: 25px 25px 25px rgba(13, 74, 205, 0.664);
    color: white;
    transform: translateY(-30px);
}

.contact .card .service-icon {
    color: rgb(230, 0, 255);
    font-size: 120px;
    text-align: center;
    transition: 1s ease;
}

.contact .card .service-icon:hover {
    transform: translateY(-30px);
}

.contact .card .info {
    text-align: center;
}

.contact .card .info h3 {
    color: rgb(226, 43, 186);
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.contact .card .info p {
    width: 80%;
    color: white;
}

.contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.contact .mes {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact .mes input {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
}

.title p {
    width: 80%;
    color: rgb(7, 7, 7);
}

.btn2 {
    color: white;
    background-color: crimson;
    font-size: 17px;
    display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 30px;
    transition: .5s ease;
}

.btn2:hover {
    background-color: rgb(26, 141, 213);
    color: rgb(0, 204, 255);
    padding: 10px 25px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: black;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    height: min-content;
    border-radius: 20px;
}

.contact-form {
    background-color: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
}

.contact-form h3 {
    color: crimson;
    font-style: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.mes2 {
    color: white;
    background-color: crimson;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: .7s ease;
    width: 100%;
}

.mes2:hover {
    background-color: rgb(26, 141, 213);
    color: rgb(0, 204, 255);
    padding: 10px 25px;
}

.mes4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.con {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: #111;
    width: 100%;
    height: 100px;
}

.con .har {
    margin-top: 10px;
    align-items: center;
}

.con .har .btn {
    margin-left: -500px;
    margin-bottom: -50px;
}

.con .har span {
    font-size: 25px;
    color: white;
    transition: 1s ease;
}

.con .har span:hover {
    color: rgb(0, 149, 255);
}

.con .har p {
    color: white;
    transition: 1s ease;
}

.con .har p:hover {
    color: rgb(0, 149, 255);
}


.btn {
    color: #ff0000;
}

.btn::before {

    background-color: #ff1616;


}

.btn:hover {
    color: white;
    box-shadow: 0 0 35px red;
}

.btn:hover::before {
    transform: scaleY(1);

}

.btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: all 1s ease;
    width: 180px;
    height: 65px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 35px red;

}

.btn::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
}